.faq {
  position: relative;
  z-index: 999;
  margin-top: 400px;
  margin-bottom: 200px;
}
.accord {
  border-top: 1px solid transparent !important;
  border-bottom: 1px solid transparent !important;
}

.accordButton:focus {
  box-shadow: 0px 00px transparent !important;
}
.heading h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 45px;
  color: #262b7f;
  text-align: left;
}
.heading p {
  text-align: left;
  line-height: 50px;
  font-size: 18;
  color: #555555;
}
.answerFlex {
  display: flex !important;
  justify-content: flex-start !important;
}
.answer {
  border: 1px solid #f2f4ff;
  margin-top: 10px;
  margin-bottom: 15px;
  max-width: 81%;
  margin-left: 110px;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  color: #555555;
}
.question {
  border: 1px solid #f2f4ff;
  width: 90%;
  height: 60px;
  text-align: left;
  margin-bottom: 15px;
}

.icon {
  margin-right: 30px;
}
.button {
  height: 60px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
.questionFlex {
  display: flex;
  justify-content: space-evenly;
}
.rowDots {
  float: right;
  margin-top: 90px;
}
.bar {
  display: none;
}
.blueBar {
  border: 1px solid transparent;
  height: 5px;
  width: 33px;
  border-radius: 3px;
  background-color: #1a66ff;
}
.greenBar {
  border: 1px solid transparent;
  height: 5px;
  width: 47px;
  border-radius: 3px;
  background-color: #66ffff;
  margin-left: 10px;
}
.paragraph p {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
@media only screen and (max-width: 767px) {
  .rowDots {
    display: none;
  }
  .bar {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
  }
  .faq {
    margin-top: 200px;
    margin-bottom: 100px;
  }
  .heading h1 {
    text-align: center;
  }
  .heading p {
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .accord {
    margin-top: 50px;
  }
  .icon {
    margin-right: 5px;
  }
}
